{% extends 'base.html.twig' %}

{% block title %}
    System dashboard view
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/assets/gridster/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/assets/gridster/jquery.gridster.min.css">
{% endblock %}

{% block body %}
    <div class="gridster">
        <ul>
            <li data-sizey="2" data-sizex="2" data-col="4" data-row="1">
                <div class="gridster-box">
                    <div class="title">Temperature</div><div class="value">55&deg;C</div>
                    <div class="handle-resize"></div>
                </div>
            </li>
            <li data-sizey="1" data-sizex="1" data-col="1" data-row="3">
                <div class="gridster-box">
                    <div class="handle-resize"></div>
                </div>
            </li>
            <li data-sizey="1" data-sizex="1" data-col="2" data-row="3">
                <div class="gridster-box">
                    <div class="handle-resize"></div>
                </div>
            </li>
            <li data-sizey="2" data-sizex="2" data-col="1" data-row="1">
                <div class="gridster-box">
                    <div class="handle-resize"></div>
                </div>
            </li>
            <li data-sizey="1" data-sizex="1" data-col="3" data-row="1">
                <div class="gridster-box">
                    <div class="handle-resize"></div>
                </div>
            </li>
            <li data-sizey="1" data-sizex="1" data-col="3" data-row="3">
                <div class="gridster-box">
                    <div class="handle-resize"></div>
                </div>
            </li>
            <li data-sizey="1" data-sizex="1" data-col="4" data-row="3">
                <div class="gridster-box">
                    <div class="handle-resize"></div>
                </div>
            </li>
            <li data-sizey="1" data-sizex="1" data-col="6" data-row="1">
                <div class="gridster-box">
                    <div class="handle-resize"></div>
                </div>
            </li>
            <li data-sizey="1" data-sizex="1" data-col="5" data-row="3">
                <div class="gridster-box">
                    <div class="handle-resize"></div>
                </div>
            </li>
            <li data-sizey="1" data-sizex="1" data-col="3" data-row="2">
                <div class="gridster-box">
                    <div class="handle-resize"></div>
                </div>
            </li>
            <li data-sizey="1" data-sizex="1" data-col="6" data-row="2">
                <div class="gridster-box">
                    <div class="handle-resize"></div>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/assets/gridster/jquery.gridster.min.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        var gridster = null;
        $(document).ready(function () {
            gridster = $(".gridster ul").gridster({
                widget_base_dimensions: ['auto', 160],
                autogenerate_stylesheet: true,
                min_cols: 1,
                max_cols: 4,
                widget_margins: [5, 5],
                resize: {
                    enabled: true
                },
                serialize_params: function($w, wgd) { return { id: $w.data('widget-id'), col: wgd.col, row: wgd.row, size_x: wgd.size_x, size_y: wgd.size_y } }
            }).data('gridster');
            $('.gridster  ul').css({'padding': '0'});
            console.log(gridster.serialize());
        });
    </script>
{% endblock %}