{% extends 'base.html.twig' %}

{% block title %}
    System dashboard view
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/assets/gridster/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/assets/gridster/jquery.gridster.min.css">
{% endblock %}

{% block body %}
    <div class="gridster">
        <ul>
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/assets/gridster/jquery.gridster.min.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        var gridster = null;
        $(document).ready(function () {
            gridster = $(".gridster ul").gridster({
                widget_base_dimensions: ['auto', 160],
                autogenerate_stylesheet: true,
                min_cols: 1,
                max_cols: 6,
                widget_margins: [5, 5],
                resize: {
                    enabled: true,
                    stop: function (event, ui, $widget) {
                        $.post('/dashboard/widgets.json',{'widgets': gridster.serialize()});
                    }
                },
                draggable: {
                    stop: function (event, ui) {
                        $.post('/dashboard/widgets.json',{'widgets': gridster.serialize()});
                    }
                },
                serialize_params: function($w, wgd) { return { id: $w.data('widget-id'), col: wgd.col, row: wgd.row, size_x: wgd.size_x, size_y: wgd.size_y } }
            }).data('gridster');
            $('.gridster  ul').css({'padding': '0'});
            $.get('/dashboard/widgets.json',function(data){
               for (k in data.widgets) {
                   widget = data.widgets[k];
                   console.log(widget);
                   gridster.add_widget('<li data-widget-id="'+widget.id+'" data-col="'+
                       widget.x+
                       '" data-row="'+
                       widget.y+
                       '"><div class="gridster-box"><div class="title">'+
                       widget.name +
                       '</div><div class="value">'+
                       widget.value +
                       '</div><div class="handle-resize"></div></div></li>',
                       widget.width,
                       widget.height,
                       widget.x,
                       widget.y
                   );
               }
            });
        });
    </script>
{% endblock %}